In [12]:
def hours():
    print('Open 9-5 daily')

In [ ]:
>>> import zoo
>>> zoo.hours()
Open 9-5 daily

In [ ]:
>>> import zoo as menagerie
>>> menagerie.hours()
Open 9-5 daily

In [ ]:
engine = create_engine('sqlite:///books.db', echo=False)
metadata = MetaData()
metadata.reflect(bind=engine)
books_table = metadata.tables['book']

stmt = select([books_table.c.title]).order_by(books_table.c.title)

with engine.connect() as connection:
    result = connection.execute(stmt)
    titles = [row.title for row in result]

for title in titles:
    print(title)